#Showconvert1 {
    font-size: 40px;
    font-style: italic bold;
    color: brown;
    background-color: lightseagreen;
    padding: 50px;
    width: 1400px;
    height: 625px;
    border: 2px solid darkblue;
    text-align: center;
}